
# Python cache
**/__pycache__/
*.py[cod]
*$py.class

/downloads/

/.buildozer/

/build/

main.spec

/dist/

/venv/
/venv-windows/
/venv-linux/

bin/android/*
!bin/android/.gitkeep

bin/macos/*
!bin/macos/.gitkeep

bin/windows/*
!bin/windows/.gitkeep
