
# Python cache
**/__pycache__/
*.py[cod]
*$py.class

/bin

/yt-dlp

/yt-dlp/

/cache/

/downloads/

/.buildozer/

/build/

/pyinstaller_build/

/main.spec

/dist/

venv/
/venv-windows/
/venv-linux/

*.db
*.db-journal

*:Zone.Identifier

*.exe
*.apk
*.so

libs/arm64-v8a/*
!libs/arm64-v8a/.gitkeep
!libs/arm64-v8a/README.MD


libs/macos/*
!libs/macos/.gitkeep
!libs/macos/README.MD

libs/windows/*
!libs/windows/.gitkeep
!libs/windows/README.MD

bin/macos/*
!bin/macos/.gitkeep

bin/windows/*
!bin/windows/.gitkeep
